.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    
}
.stage{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    z-index: 2;
    max-width: 1024px;
}
.title{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: white;
}
.videocontainer{
    width: 100%;
}
.video{
    width: 100%;
}