.menu{
    display: flex;
    width: 100%;
    justify-content: center
}

.menuStage{
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex: 1;
    
}
.menuLeft{
    width: 100px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 15px;
}
.menuRight{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    justify-content: space-evenly;
}
.logocontainer{
    font-weight: 700;
    text-transform: uppercase;
}
.menuSectionContainer{
    display: flex;
}
.menuSection{
    display: none;
    padding: 0 20px;
}
.phonecontainer p {
    font-weight: 800;
}

@media (min-width: 1024px) {
    .menuStage{
        max-width: 1024px;
        padding:  10px 0;
    }
    .menuLeft{
        width: 140px;
    }
    .menuSection{
        display: flex;
    }
}

