.menu{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'monument';
}

.menuStage{
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex: 1;
    
}
.menuLeft{
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
}
.menuRight{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: right;
    padding-right: 15px;
}
.logocontainer{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}
.menuSectionContainer{
    display: flex;
    font-family: 'Roboto';
}
.menuSection{
    display: none;
    padding: 0 20px;
}
.phonecontainer p {
    font-weight: 800;
    font-family: 'Roboto';
}

@media (min-width: 1024px) {
    .menuRight{
        justify-content: space-between;
    }
    .logocontainer{
        font-size: 24px;
    }
    .phonecontainer p{
        font-size: 20px;
        padding-right: 24px;
    }
    .menuSection{
        font-size: 18px;
    }
    .menuStage{
        max-width: 1024px;
        padding:  10px 0;
    }
    .menuLeft{
        width: 250px;
    }
    .menuSection{
        display: flex;
    }
}

