.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
}
.stage{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    z-index: 2;
    background-color: white;
    max-width: 1024px;
}
.header{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}
.description{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Roboto';
}
.itemsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
}
.productcontainer{
    display: flex;
}
.product{
    display: flex;
    width: 100%;
}
.name{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    min-height: 60px;
    
}
.productDescription{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    text-align: center;
}
.productDescription p{
    font-size: 18px;
    line-height: 25px;
}
@media (min-width: 1024px) {
    .product{
        width: 280px;
    }
    .title{
        font-size: 50px;
    }
    .description{
        font-size: 24px;
    }
    .productDescription p{
        font-size: 20px;
        line-height: 27px;
    }
}
